* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important; /* safari, opera, chrome miatt */
  border-radius: 0;
}

/* CSS reset */

/*
#ffeedf
#145434
font-family: 'Space Grotesk', sans-serif;
.material-icons
*/

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: #ffeedf;
}

/* #root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.header {
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;

  h1 {
    font-size: 36px;
    color: #145434;
    display: inline-block;
    padding: 5px 10px;
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: #145434;
  }

  .menu-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 36px;
    color: #145434;
  }
}

.content {
  width: fit-content;
  max-width: 1200px;
  margin: 0 auto;

  /* display: flex;
  justify-content: center; */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  /*
  width: fit-content;
  max-width: 1200px;
  margin: 60px 60px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  */
}

.beer-card {
  background-color: #145434;

  color: #ffeedf;

  .number {
    width: 40px;
    height: 40px;

    text-align: center;
    line-height: 40px;

    background-color: #ffeedf;

    border: 2px solid #145434;
    border-radius: 40px;
    font-size: 24px;
    color: #145434;
  }

  .title {
    font-size: 36px;
    font-weight: 400;
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: #ffeedf;
  }

  .sub {
    font-size: 18px;
    font-weight: 400;
  }

  .text {
    font-size: 18px;
    font-weight: 600;
  }

  button {
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #ffeedf;
    border: 2px solid #145434;

    font-size: 14px;
    color: #145434;

    .arrow-icon {
      padding-left: 40px;
      font-size: 36px;
    }
  }

  button:hover {
    background-color: #145434;
    border-color: #ffeedf;
    color: #ffeedf;
  }
}
